* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;    
}

.btn_primary{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 15px;  
    color: white; 
    border: none; 
    margin-top: 20px;
}

/* Navbar */
.nav_container{

    display: flex;
    padding: 5rem 6.3rem;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}
.nav_container li{
    list-style: none;
    
}
.menus{
    display: flex;
    gap: 2.1rem;
}


/* Banner_Section */

.banner_container{
    
    display: flex;
    gap: 2.0rem;
    align-items: center;
    margin-bottom: 20px;
}
.banner_texts{

    width: 50%;
    padding: 6.2rem 0.6rem;
    text-align: center;
    /* border: 2px solid red; */
}
.banner_image{

    width: 30%;
    padding: 1.8rem;
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 2px solid red; */
}

.banner_image img{
    width: 25rem;
    height: 25rem;
   
}

.banner_header{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
}
.banner_description{

    margin-top: 1.2rem;
    color: #3A3A3A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.arrow{

    padding-left: 2px;
    color: white;
}

/* Platforms Section */
.platforms_container{

    padding: 20px;
    text-align: center;
}
.platforms_container > img{

   margin-right: 60px;
   
}

/* Popular Collection section */

.Popular_Collection_container{

    text-align: center;
    margin-top: 30px;
}
.checked,.fa-star-half-o {
    color: orange;
  }
.ratings_container{
    width: max-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.cards_Container{
   
    
    
    margin-top: 20px;
    
    display: grid;
    grid-template-columns: 18.7rem 18.7rem 18.7rem;
    grid-column-gap: 80px;
    justify-content: center;
}
.card{

    padding: 20px;
    width: max-content;
    /* border: 2px solid red; */
    margin-bottom: 1.2rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);    
}
.card_text{
    text-align: left;
}

@media screen and (max-width:576px) {
    
    .nav_container{
        padding: 2rem 2.0rem;
        flex-direction: column;
    }
    .menus{
        margin-top: 10px;
        gap: 0.7rem;
    }

    .banner_container{
        flex-direction: column-reverse;
        gap: 0px;
        padding: 10px;
       
      
    }
    .banner_texts{
        padding: 0px;
        width: 100%;
    }
    .banner_image{
        width: 80%;
      
    }
    .banner_image img{
        width: 20rem;
        height: 20rem;
    }

    .banner_header{
        font-size: 2.2rem;
    }

    .platforms_container > img{

        margin-right: 10px;
        height: 3rem;
        width: 3rem;
        
     }

     .cards_Container{
        grid-template-columns: none;
        grid-column-gap: 0px;
     }

    
}